[submodule "lib/curl-7.60.0-win64-mingw"]
	path = lib/curl-7.60.0-win64-mingw
	url = https://github.com/NewYaroslav/curl-7.60.0-win64-mingw.git
[submodule "lib/openssl_win64"]
	path = lib/openssl_win64
	url = https://github.com/NewYaroslav/openssl_win64.git
[submodule "lib/base64"]
	path = lib/base64
	url = https://github.com/tkislan/base64.git
